@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  
  @media only screen and (max-width: 889px) {
    .hide {
      display: none;
    }

  
  }
  
  @media only screen and (min-width: 890px) {
    .hide {
      display: block;
    }
  }

  @media only screen and (max-width: 889px) {
    .mobile {
     display: block;
    }
  }
 

}

@font-face {
  font-family: "Styrene";
  src: url("./assets/fonts/StyreneAWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Styrenes";
  src: url("./assets/fonts/StyreneAWeb-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "StyreneThin";
  src: url("./assets/fonts/StyreneAWeb-Light.ttf") format("truetype");
}

@font-face {
  font-family: "StyreneBold";
  src: url("./assets/fonts/StyreneAWeb-Medium.ttf") format("truetype");
}

.example {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.zIndex {
  z-index: 999 !important;
}

.zIndexs {
  z-index: 9999 !important;
}

.noscroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



  .containerss {
    --uib-size: 45px;
    --uib-color: black;
    --uib-speed: 2s;
    position: relative;
    height: var(--uib-size);
    width: var(--uib-size);
  }

  .containerss::before,
  .containerss::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse var(--uib-speed) linear infinite;
    transform: scale(0);
    opacity: 0;
    transition: background-color 0.3s ease;
  }

  .containerss::after {
    animation-delay: calc(var(--uib-speed) / -2);
  }

  @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }


  @media (min-width: 768px) {
    .md-object-position {
      /* object-position: 0 -90px; */
    }
  }

  .containee{
    --uib-size: 40px;
    --uib-color: white;
    --uib-speed: 2s;
    --uib-bg-opacity: 0;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
    will-change: transform;
    overflow: visible;
  }
 


  .containe{
    --uib-size: 40px;
    --uib-color: black;
    --uib-speed: 2s;
    --uib-bg-opacity: 0;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
    will-change: transform;
    overflow: visible;
  }

  .car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
  }

  .track {
    fill: none;
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.5s ease;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes stretch {
    0% {
      stroke-dasharray: 0, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 75, 150;
      stroke-dashoffset: -25;
    }
    100% {
      stroke-dashoffset: -100;
    }
  }




  